{% extends "header.html" %}

{% block content %}
<style>
    .sizeTB {
        width: 500px;
        height: 300px;
        padding: 1px;
        resize: both;
    }
    .btnCat {
        background-color: transparent; /* Green */
        border: #00BFFF;
        color: #00BFFF;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>


<footer id="footer" style="margin-top: -50px;">
    <div class="container">

    </div>
</footer>

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
            <!--
            <form action="post">
                <input type="text" class="form-control sizeTB"  name="fname" placeholder="Complaint">
            </form>
            -->

            <div class="sec-title  wow animated fadeInDown">
                <h2>CATEGORIZE A COMPLAINT</h2>
                <p>Enter a complaint.</p>
            </div>

            <form action="/categorizer/">
            <div class="input-field">
                <textarea rows="15" cols="150" name="message" class="form-control" placeholder="Complaint..."></textarea>
            </div>
			<!-- <input id="fileSelect" style="margin-bottom: 20px" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />   -->
              <br>

            
            <input type="submit" id="submit" class="btn btn-blue btn-effect" value="SUBMIT"/>
            </form></div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                  <div class="row">
                      <div class="col-md-6">
                          <h3>Complaint:</h3>
                          <p>{{ complaint }}</p>
                      </div>
                      <div class="col-md-6">
                          <h3>Category:</h3>
                          <p>{{ category }} - {{ subcategory }}</p>
                      </div>
                  </div>
                <hr />                   
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}	
