{% extends "header.html" %}

{% block content %}

<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <p class="animated fadeInDown" style="font-size: 54px; margin-bottom: 35px;">iCategorize</p>
                                <span class="animated fadeInDown">Text Categorizer for DPWH Complaints</span>
                                <a href="/categorizer/" class="btn btn-blue btn-effect">Start</a>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					
						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <p class="animated fadeInDown" style="font-size: 54px; margin-bottom: 35px;">iCategorize</p>
                                <span class="animated fadeInDown">Text Categorizer for DPWH Complaints</span>
                                <a href="/categorizer/" class="btn btn-blue btn-effect">Start</a>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						
						<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <p class="animated fadeInDown" style="font-size: 54px; margin-bottom: 35px;">iCategorize</p>
                                <span class="animated fadeInDown">Text Categorizer for DPWH Complaints</span>
                                <a href="/categorizer/" class="btn btn-blue btn-effect">Start</a>
                            </div>
                        </div>

					</div>

				</div><!-- /sl-slider -->

                <!-- 
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
                -->
                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
                

				<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>




<!-- about section -->
<section id="about" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow animated fadeInLeft">
                <div class="recent-works">
                    <h3>Recent Works</h3>
                    <div id="works">
                        <div class="work-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> <br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                        <div class="work-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                        <div class="work-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                <div class="welcome-block">
                    <h3>Welcome To Our Site</h3>
                    <div class="message-body">
                        <img src="{{ static('img/cryingjordan.jpg') }}" class="pull-left" alt="member">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    </div>
                    <a href="#" class="btn btn-border btn-effect pull-right">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->


<!-- Service section -->
<section id="service">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center">
                <h2 class="wow animated bounceInLeft">Service</h2>
                <p class="wow animated bounceInRight">The Key Features of our Job</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-home fa-3x"></i>
                    </div>
                    <h3>Support</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-tasks fa-3x"></i>
                    </div>
                    <h3>Well Documented</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-clock-o fa-3x"></i>
                    </div>
                    <h3>Design UI/UX</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-heart fa-3x"></i>
                    </div>

                    <h3>Web Security</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end Service section -->

<!-- portfolio section 
<section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center wow animated fadeInDown">
                <h2>FEATURED PROJECTS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>


            <ul class="project-wrapper wow animated fadeInUp">
                <li class="portfolio-item">
                    <img src="{{ static('img/portfolio/item.jpg') }}" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                    <figcaption class="mask">
                        <h3>Wall street</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Araund The world" data-fancybox-group="works" href="img/portfolio/item.jpg"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>

                <li class="portfolio-item">
                    <img src="{{ static('img/portfolio/item2.jpg') }}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                    <figcaption class="mask">
                        <h3>Wall street</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Wall street" href="img/slider/banner.jpg" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>

                <li class="portfolio-item">
                    <img src="{{ static('img/portfolio/item3.jpg') }}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                    <figcaption class="mask">
                        <h3>Wall street</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Behind The world" data-fancybox-group="works" href="img/portfolio/item3.jpg"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>

                <li class="portfolio-item">
                    <img src="{{ static('img/portfolio/item4.jpg') }}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
                    <figcaption class="mask">
                        <h3>Wall street</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Wall street 4" data-fancybox-group="works" href="img/portfolio/item4.jpg"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>

                <li class="portfolio-item">
                    <img src="{{ static('img/portfolio/item5.jpg') }}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                    <figcaption class="mask">
                        <h3>Wall street</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Wall street 5" data-fancybox-group="works" href="img/portfolio/item5.jpg"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>

                <li class="portfolio-item">
                    <img src="{{ static('img/portfolio/item6.jpg') }}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                    <figcaption class="mask">
                        <h3>Wall street</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                    </figcaption>
                    <ul class="external">
                        <li><a class="fancybox" title="Wall street 6" data-fancybox-group="works" href="img/portfolio/item6.jpg"><i class="fa fa-search"></i></a></li>
                        <li><a href=""><i class="fa fa-link"></i></a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</section>
end portfolio section -->




{% endblock %}