{% extends "header.html" %}

{% block content %}

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Welcome</h2>   
                        <h5>This is a Taglish Complaints Categorization System designed to automatically identify the appropriate categories of the complaints received by the Department of Public Works and Highways. Please click on "Categorize a complaint" for categorizing individual complaints, and "Multiple Categorization" for many complaints.</h5>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <hr />                   
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->


{% endblock %}