{% extends "header.html" %}

{% block content %}

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Performance for Categories using Proposed Method</h2>   
                        <h5>This page will output the precision, recall, F-measure and accuracy
						of the categorizer using the proposed method of Naive Bayes and k-Nearest
						Neighbor algorithm. This will use the data provided in the "Data to be used"
						page. It will partition that data into two: the training set and the test set.
						</h5>
						
                        <form method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="submit" name="submit" value="Begin Training" class="btn btn-md btn-default">
                        </form>

                        <!-- <h3>Accuracy: {{ accuracy }}</h3> -->

						
						<br>
<table>
  <tr>
    <th>Category</th>
    <th>TP</th>
    <th>FP</th>
    <th>TN</th>
    <th>FN</th>
    <th>P</th>
    <th>R</th>
    <th>F1</th>
    <th>Acc</th>
  </tr>
  <tr>
    <td>Bridges</td>
    <td>{{ bridge_scores['TP'] }}</td>
    <td>{{ bridge_scores['FP'] }}</td>
    <td>{{ bridge_scores['TN'] }}</td>
    <td>{{ bridge_scores['FN'] }}</td>
    <td>{{ bridge_scores['p'] }}</td>
    <td>{{ bridge_scores['r'] }}</td>
    <td>{{ bridge_scores['F'] }}</td>
    <td>{{ bridge_scores['acc'] }}</td>
  </tr>
  <tr>
    <td>Commendation</td>
    <td>{{ commend_scores['TP'] }}</td>
    <td>{{ commend_scores['FP'] }}</td>
    <td>{{ commend_scores['TN'] }}</td>
    <td>{{ commend_scores['FN'] }}</td>
    <td>{{ commend_scores['p'] }}</td>
    <td>{{ commend_scores['r'] }}</td>
    <td>{{ commend_scores['F'] }}</td>
    <td>{{ commend_scores['acc'] }}</td>
  </tr>
  <tr>
    <td>Flood Control</td>
    <td>{{ flood_scores['TP'] }}</td>
    <td>{{ flood_scores['FP'] }}</td>
    <td>{{ flood_scores['TN'] }}</td>
    <td>{{ flood_scores['FN'] }}</td>
    <td>{{ flood_scores['p'] }}</td>
    <td>{{ flood_scores['r'] }}</td>
    <td>{{ flood_scores['F'] }}</td>
    <td>{{ flood_scores['acc'] }}</td>
  </tr>
  <tr>
    <td>HR</td>
    <td>{{ hr_scores['TP'] }}</td>
    <td>{{ hr_scores['FP'] }}</td>
    <td>{{ hr_scores['TN'] }}</td>
    <td>{{ hr_scores['FN'] }}</td>
    <td>{{ hr_scores['p'] }}</td>
    <td>{{ hr_scores['r'] }}</td>
    <td>{{ hr_scores['F'] }}</td>
    <td>{{ hr_scores['acc'] }}</td>
  </tr>
  <tr>
    <td>Roads</td>
    <td>{{ road_scores['TP'] }}</td>
    <td>{{ road_scores['FP'] }}</td>
    <td>{{ road_scores['TN'] }}</td>
    <td>{{ road_scores['FN'] }}</td>
    <td>{{ road_scores['p'] }}</td>
    <td>{{ road_scores['r'] }}</td>
    <td>{{ road_scores['F'] }}</td>
    <td>{{ road_scores['acc'] }}</td>
  </tr>
  <tr>
    <th>Average</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ ave_p }}</td>
    <td>{{ ave_r }}</td>
    <td>{{ ave_f1 }}</td>
    <td>{{ accuracy }}</td>
  </tr>
</table>

<br> <br> 
<table>
  <tr>
    <th>Complaint ID</th>
    <th>System Category</th>
    <th>Actual Category</th>
    <th>Correct?</th>
  </tr>
  {% for preds in prediction %}
      {% if preds['correct'] == 'Yes' %}
        <tr style="color: #00af00;">
      {% else %}
        <tr style="color: red;">
      {% endif %}
    <td>{{ preds['id'] }}</td>
    <td>{{ preds['system_category'] }}</td>
    <td>{{ preds['actual_category'] }}</td>
    <td>{{ preds['correct'] }}</td>
  </tr>
  {% endfor %}
</table>
                    </div>
                </div>              
                         <!-- /. ROW  -->
                          <hr />
                        <hr />                   
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->


{% endblock %}
