{% extends "header.html" %}

{% block content %}

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Performance for Subcategories using Proposed Method</h2>   
                        <h5>This page will output the precision, recall, F-measure and accuracy
						of the categorizer using the proposed method of Naive Bayes and k-Nearest
						Neighbor algorithm. This will use the data provided in the "Data to be used"
						page. It will partition that data into two: the training set and the test set.
						</h5>
						
                        <form method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="submit" name="submit" value="Begin Training" class="btn btn-md btn-default" autofocus>
                        </form>

                        <!-- <h3>Accuracy: {{ accuracy }}</h3> -->

						
						<br>

            {% for c in category_children %}
              <h5>{{ categories[c] }} Subcategories </h5>

              <table>
                <tr>
                  <th>Subcategory</th>
                  <th>TP</th>
                  <th>FP</th>
                  <th>TN</th>
                  <th>FN</th>
                  <th>P</th>
                  <th>R</th>
                  <th>F1</th>
                  <th>Acc</th>
                </tr>
                {% for s in category_children[c] %}
                  <tr>
                    <td>{{ subcategories[s] }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>Average</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{ accuracy[c] }}</td>
                </tr>
              </table>
            {% endfor %}

            



<br> <br> 
<table>
  <tr>
    <th>Complaint ID</th>
    <th>System Subcategory</th>
    <th>Actual Subcategory</th>
    <th>Correct?</th>
  </tr>
  {% for preds in prediction %}
	{% if preds['correct'] == 'Yes' %}
		<tr style="color: #00af00;">
	{% else %}
		<tr style="color: red;">
	{% endif %}
    <td>{{ preds['id'] }}</td>
    <td>{{ preds['system_category'] }}</td>
    <td>{{ preds['actual_category'] }}</td>
    <td>{{ preds['correct'] }}</td>
  </tr>
  {% endfor %}
</table>
                    </div>
                </div>              
                         <!-- /. ROW  -->
                          <hr />
                        <hr />                   
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->


{% endblock %}
